@import 'global.scss';

.content {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .border {
    width: 80%;
    height: 100%;
    background-color: $BackgoundColor;
    display: flex;
    flex-direction: column;

    .header {
      background-color: rgb(80, 75, 75);
      height: 35px;

      .left {
        display: flex;
        align-items: center;

        .item {
          width: 15px;
          height: 15px;
          margin-left: 8px;
          border-radius: 50%;
        }

        .yellow {
          background-color: #ff9912;
        }

        .red {
          background-color: #ff3a3a;
        }

        .green {
          background-color: #00c957;
        }

        .returnOrGo {
          margin-left: 50px;
          display: flex;
          align-items: center;

          .borderGo {
            width: 28px;
            height: 25px;
            background-color: rgb(124, 121, 121);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin-right: 1px;
          }
        }
      }

      .right {
        margin-right: 15px;

        .search {
          margin-right: 40px;
        }

        .borderRight {
          width: 28px;
          height: 25px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(124, 121, 121);
          font-size: 14px;
        }

        .under {
          display: flex;
          align-items: center;

          .underRight {
            margin-right: 1px;

            .icon {
              width: 0;
              height: 0;
              border-width: 5px 5px 0px;
              border-style: solid;
              border-color: #fff transparent transparent;
            }
          }
        }
      }
    }

    .main {
      flex: 1;
      display: flex;

      .sidebar {
        width: 175px;
        height: auto;
        background-color: rgb(80, 75, 75);
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgb(54, 54, 54);
        border-right: 1px solid rgb(53, 53, 53);

        .sidebarItem {
          margin: 10px 0px 0px 20px;
          font-size: 14px;
          color: rgb(221, 221, 221);
          display: flex;
          align-items: center;

          .leftIcon {
            margin-right: 7px;
          }
        }
      }

      .wrapper {
        width: 100%;
        overflow: hidden;

        .contentMain {
          max-height: calc(100vh - 27px - 10px - 35px - 60px);
          overflow-y: scroll;
          &:-webkit-scrollbar {
            display: none;
          }

          .pages {
            display: flex;
            width: 100%;
            color: rgb(221, 221, 221);
            min-height: calc(100vh - 27px - 10px - 35px - 60px);
            flex-wrap: wrap;
            align-content:flex-start;
            .pageborder {
              width: 20%;
              height: 150px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .iconSize {
                font-size: 100px;
                z-index: 1;
              }

              .fileName {
                margin-top: -8px;
                font-size: 14px;
                z-index: 100;
              }
            }
          }
        }
      }

      .article {
        position: absolute;
        top:0;
        left:0;
        background-color: #fff;
        width:100vw;
        height:100vh;
        z-index: 1000;
      }
    }
  }
}
