$IconFontSize: 20px;
$TextFontSize: 14px;
$Opacity: 1.0;
$HeaderHeight: 27px;
$BackgoundColor: #333031;
$IconMargin: 5px;

$FooterHeight: 60px;
$FooterIconSize: 35px;
$FooterIconHoverSize: 42px;
$PositionTime: .5s;
$FooterOpacity: .6;
$FooterBorderRadius: 25px;
$IconBoxWidth: 70px;
$IconBoxHeight: 60px;
