$IconFontSize: 20px;
$TextFontSize: 16px;
$Opacity: 0.7;
$HeaderHeight: 27px;
$BackgoundColor: #fff;
$IconMargin: 5px;

$FooterHeight: 80px;
$FooterIconSize: 40px;
$FooterIconHoverSize: 47px;
$PositionTime: .5s;
$FooterOpacity: .3;
$FooterBorderRadius: 25px;
$IconBoxWidth: 70px;
$IconBoxHeight: 60px;
