$IconFontSize: 20px;
$TextFontSize: 15px;
$Opacity: 0.7;
$HeaderHeight: 27px;
$BackgoundColor: #fff;
$IconMargin: 5px;

$FooterHeight: 60px;
$FooterIconSize: 35px;
$FooterIconHoverSize: 42px;
$PositionTime: .5s;
$FooterOpacity: .3;
$FooterBorderRadius: 25px;
$IconBoxWidth: 70px;
$IconBoxHeight: 60px;
